USE [BANSACH]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABOPHAN] [bigint] IDENTITY(1,1) NOT NULL,
	[TENBOPHAN] [nvarchar](100) NULL,
	[LUONG] [int] NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABOPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADONNHAP]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNHAP](
	[MAHOADON] [bigint] NOT NULL,
	[MASACH] [bigint] NULL,
	[DONGIA] [bigint] NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADONXUAT]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONXUAT](
	[MAHOADON] [bigint] NULL,
	[MASACH] [bigint] NULL,
	[DONGIA] [bigint] NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [bigint] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](100) NULL,
 CONSTRAINT [PK_DANHMUC] PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHOADON] [bigint] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [bigint] NULL,
	[MANHACUNGCAP] [bigint] NULL,
	[NGAYNHAP] [nchar](10) NULL,
 CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONXUAT]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONXUAT](
	[MAHOADON] [bigint] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [bigint] NULL,
	[MAKHACHHANG] [bigint] NULL,
	[NGAYXUAT] [date] NULL,
 CONSTRAINT [PK_HOADONXUAT] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [bigint] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[SODIENTHOAI] [varchar](20) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [bigint] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SDT] [nvarchar](20) NULL,
 CONSTRAINT [PK_NHACUNGCAP_1] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [bigint] IDENTITY(1,1) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MABOPHAN] [bigint] NULL,
	[TRANGTHAI] [int] NULL,
	[TENTAIKHOAN] [varchar](100) NULL,
	[MATKHAU] [varchar](100) NULL,
	[NGAYSINH] [varchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANHAXUATBAN] [bigint] IDENTITY(1,1) NOT NULL,
	[TENNHAXUATBAN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SDT] [nvarchar](20) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [bigint] IDENTITY(1,1) NOT NULL,
	[MADANHMUC] [bigint] NULL,
	[TENSACH] [nvarchar](100) NULL,
	[DONGIABAN] [bigint] NULL,
	[DONGIANHAP] [bigint] NULL,
	[SOLUONGTON] [int] NULL,
	[MATACGIA] [bigint] NULL,
	[MOTA] [nvarchar](200) NULL,
	[ANHBIA] [varchar](100) NULL,
	[MANHAXUATBAN] [bigint] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 27/05/2017 4:36:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [bigint] IDENTITY(1,1) NOT NULL,
	[TENTACGIA] [nvarchar](100) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BOPHAN] ON 

INSERT [dbo].[BOPHAN] ([MABOPHAN], [TENBOPHAN], [LUONG]) VALUES (1, N'Bán hàng', 3500000)
INSERT [dbo].[BOPHAN] ([MABOPHAN], [TENBOPHAN], [LUONG]) VALUES (2, N'Admin', 15000000)
INSERT [dbo].[BOPHAN] ([MABOPHAN], [TENBOPHAN], [LUONG]) VALUES (3, N'Hệ thống', 5000000)
SET IDENTITY_INSERT [dbo].[BOPHAN] OFF
INSERT [dbo].[CHITIETHOADONNHAP] ([MAHOADON], [MASACH], [DONGIA], [SOLUONG]) VALUES (1, 3, 90000, 150)
INSERT [dbo].[CHITIETHOADONNHAP] ([MAHOADON], [MASACH], [DONGIA], [SOLUONG]) VALUES (1, 9, 150000, 150)
INSERT [dbo].[CHITIETHOADONNHAP] ([MAHOADON], [MASACH], [DONGIA], [SOLUONG]) VALUES (1, 12, 200000, 150)
INSERT [dbo].[CHITIETHOADONXUAT] ([MAHOADON], [MASACH], [DONGIA], [SOLUONG]) VALUES (4, 3, 156000, 1)
INSERT [dbo].[CHITIETHOADONXUAT] ([MAHOADON], [MASACH], [DONGIA], [SOLUONG]) VALUES (5, 9, 500000, 2)
INSERT [dbo].[CHITIETHOADONXUAT] ([MAHOADON], [MASACH], [DONGIA], [SOLUONG]) VALUES (4, 10, 120000, 3)
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (1, N'Thiếu nhi')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (5, N'Tiếng Pháp')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (6, N'Tiểu thuyết')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
SET IDENTITY_INSERT [dbo].[HOADONNHAP] ON 

INSERT [dbo].[HOADONNHAP] ([MAHOADON], [MANHANVIEN], [MANHACUNGCAP], [NGAYNHAP]) VALUES (1, 3, 1, N'02/02/2014')
INSERT [dbo].[HOADONNHAP] ([MAHOADON], [MANHANVIEN], [MANHACUNGCAP], [NGAYNHAP]) VALUES (2, 8, 3, N'01/01/2014')
INSERT [dbo].[HOADONNHAP] ([MAHOADON], [MANHANVIEN], [MANHACUNGCAP], [NGAYNHAP]) VALUES (3, 3, 5, N'05/05/2016')
SET IDENTITY_INSERT [dbo].[HOADONNHAP] OFF
SET IDENTITY_INSERT [dbo].[HOADONXUAT] ON 

INSERT [dbo].[HOADONXUAT] ([MAHOADON], [MANHANVIEN], [MAKHACHHANG], [NGAYXUAT]) VALUES (4, 5, 3, CAST(0x183A0B00 AS Date))
INSERT [dbo].[HOADONXUAT] ([MAHOADON], [MANHANVIEN], [MAKHACHHANG], [NGAYXUAT]) VALUES (5, 4, 2, CAST(0x693C0B00 AS Date))
INSERT [dbo].[HOADONXUAT] ([MAHOADON], [MANHANVIEN], [MAKHACHHANG], [NGAYXUAT]) VALUES (6, 6, 4, CAST(0xB63D0B00 AS Date))
SET IDENTITY_INSERT [dbo].[HOADONXUAT] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [EMAIL], [SODIENTHOAI], [DIACHI]) VALUES (2, N'Nguyễn Văn Trung', N'trungnguyen@gmail.com', N'016987458966', N'Hưng Yên')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [EMAIL], [SODIENTHOAI], [DIACHI]) VALUES (3, N'Phạm Văn Hậu', N'phamhau@gmail.com', N'0987458996', N'Nam Định')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [EMAIL], [SODIENTHOAI], [DIACHI]) VALUES (4, N'Nguyễn Quang Đạt', N'quangdat@gmail.com', N'01697859989', N'Hà Nam')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SDT]) VALUES (1, N'Hoa Học Trò', N'Hà Nội', N'0598796669')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SDT]) VALUES (3, N'Hoa sinh viên', N'Hà Nội', N'01698745896')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SDT]) VALUES (4, N'Nhã Nam', N'Hồ Chí Minh', N'0978965874')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [SODIENTHOAI], [EMAIL], [DIACHI], [MABOPHAN], [TRANGTHAI], [TENTAIKHOAN], [MATKHAU], [NGAYSINH], [GIOITINH]) VALUES (2, N'Dương Vũ', N'01695556080', N'akitathu96@gmail.com', N'Hà Nội', 2, 1, N'duong', N'a', N'30/06/1996', N'Nữ')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [SODIENTHOAI], [EMAIL], [DIACHI], [MABOPHAN], [TRANGTHAI], [TENTAIKHOAN], [MATKHAU], [NGAYSINH], [GIOITINH]) VALUES (3, N'Đỗ Minh Phong', N'0962275964', N'minhphong306@gmail.com', N'Nam Định', 4, 1, N'phong', N'a', N'20/02/1994', N'Nam')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [SODIENTHOAI], [EMAIL], [DIACHI], [MABOPHAN], [TRANGTHAI], [TENTAIKHOAN], [MATKHAU], [NGAYSINH], [GIOITINH]) VALUES (4, N'Dương Thị Chúc', N'0979388772', N'duongchuc@gmail.com', N'Bắc Giang', 1, 2, N'chuc', N'a', N'20/02/1994', N'Nữ')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [DIACHI], [SDT]) VALUES (1, N'Kim Đồng', N'Hà Nội', N'078965879')
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [DIACHI], [SDT]) VALUES (3, N'Trẻ', N'Hồ Chí Minh', N'04978546')
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [DIACHI], [SDT]) VALUES (4, N'Nhã Nam', N'Hà Nội + Hồ Chí Minh', N'0987589658')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MASACH], [MADANHMUC], [TENSACH], [DONGIABAN], [DONGIANHAP], [SOLUONGTON], [MATACGIA], [MOTA], [ANHBIA], [MANHAXUATBAN]) VALUES (3, 1, N'Dế mèn phưu lưu kí', NULL, 150000, 100, 3, NULL, N'image.jpg', 1)
INSERT [dbo].[SACH] ([MASACH], [MADANHMUC], [TENSACH], [DONGIABAN], [DONGIANHAP], [SOLUONGTON], [MATACGIA], [MOTA], [ANHBIA], [MANHAXUATBAN]) VALUES (9, 5, N'Sách tiếng pháp', NULL, 200000, 120, 2, NULL, N'image5.jpg', 1)
INSERT [dbo].[SACH] ([MASACH], [MADANHMUC], [TENSACH], [DONGIABAN], [DONGIANHAP], [SOLUONGTON], [MATACGIA], [MOTA], [ANHBIA], [MANHAXUATBAN]) VALUES (10, 6, N'Sách tiếng anh', NULL, 600000, 120, 2, NULL, N'image6.jpg', 4)
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (2, N'Nhật Minh')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (3, N'Agasa Ghoso')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (4, N'Dan Brown')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_NGAYSINH]  DEFAULT (((1)/(1))/(1994)) FOR [NGAYSINH]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAP_HOADONNHAP] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADONNHAP] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHOADONNHAP_HOADONNHAP]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAP_SANPHAM] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHOADONNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONXUAT_HOADONXUAT] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADONXUAT] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT] CHECK CONSTRAINT [FK_CHITIETHOADONXUAT_HOADONXUAT]
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONXUAT_SANPHAM] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADONXUAT] CHECK CONSTRAINT [FK_CHITIETHOADONXUAT_SANPHAM]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHACUNGCAP] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABOPHAN])
REFERENCES [dbo].[BOPHAN] ([MABOPHAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DANHMUC] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SANPHAM_DANHMUC]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANHAXUATBAN])
REFERENCES [dbo].[NHAXUATBAN] ([MANHAXUATBAN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
